@{
    ViewData["Title"] = "Les archives";
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
<div class="">
    <article class="indexArticle infoArticle">
        <section class="infoSection">
            <div class="contenerInfoImage">
                <img src="/content/Images/TestImageVertical.png" class="d-block" id="imageGazette" alt="...">
            </div>
            <div class="contenerInfoDesc">
                <h2>Les anciennes map du serveur Adelys</h2>
                <p>Vous retrouverez ici l'intégralité des sauvegardes du serveur Adelys</p>
                <div>

                </div>
            </div>
        </section>
    </article>
    <article class="indexArticle infoArticle" id="articleModdedServer">
        <section class="infoSection">
            <div class="contenerInfoDesc">
                <h2>Les anciennes map du serveur Moddé Adelys-Event</h2>
                <p>Vous retrouverez ici l'intégralité des sauvegardes du serveur Moddé Adelys-Event</p>
            </div>
            <div class="contenerInfoImage">
                <img src="/content/Images/TestImageVertical.png" class="d-block" id="imageGazette" alt="...">
            </div>
        </section>
    </article>
</div>
