@{
    ViewData["Title"] = "Les lois";
    <link rel="stylesheet" href="~/css/rules.css" asp-append-version="true" />
}
<div class="">
    <article class="col-10" id="rulesContener">
        <div class="col-sm-2" id="listInfo">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Adelys</h5>
                    <p class="card-text">Tout les commerces actuellement présent à Adelys</p>
                    <a href="#" class="btn btn-primary" onclick="loadLawsPage()">Charger</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pristo</h5>
                    <p class="card-text">Tout les commerces actuellement présent à Pristo</p>
                    <a href="#" class="btn btn-primary" onclick="loadExceptionsPage()">Charger</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mazadir</h5>
                    <p class="card-text">Tout les commerces actuellement présent à Mazadir</p>
                    <a href="#" class="btn btn-primary" onclick="loadFactoriesPage()">Charger</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grenat</h5>
                    <p class="card-text">Tout les commerces actuellement présent à Grenat</p>
                    <a href="#" class="btn btn-primary" onclick="loadMonopoliesPage()">Charger</a>
                </div>
            </div>
        </div>
        <div class="col-sm-10" id="displayInfo">
        </div>
    </article>
</div>

@section Scripts{
    <script src="~/js/rules.js"></script>
}
