@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}
<div class="row mx-0">
    <article class="indexArticle col-12 justify-content-center" id="articleBanner">
        <p id="bannerWelcomeMessage">Bienvenue sur</p>
        <h1 id="webSiteName">Adelys</h1>
        <div id="coverPicture">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/content/Images/TestImage.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Pristo, un empire de confiance !</h5>
                            <p>Quoi de mieux que rejoindre l'empire le plus puissant ?'</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/content/Images/TestImage.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>La gazette du sorc... Yonderred</h5>
                            <p>Du blabla sympa mais pas utile</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/content/Images/TestImage.png" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>La cible parfaite</h5>
                            <p>Un problème ? Une erreur ? Dénoncer PiloteWho !</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </article>
    <article class="indexArticle" id="presentationCardArticle">
        <section id="cardSection">
            <div class="presentationCard">
                <div class="presentationCardIcon"></div>
                <div class="presentationCardHeader">
                    <h2>Réglement</h2>
                </div>
                <div class="presentationCardContent">
                    <p>Vous retrouverez ici les différentes règles en vigueur sur le serveur</p>
                </div>
                <div class="presentationCardFooter text-center">
                    <button type="button" class="presentationCardButton btn btn-info">Voir plus</button>
                </div>
            </div>
            <div class="presentationCard">
                <div class="presentationCardIcon"></div>
                <div class="presentationCardHeader">
                    <h2>WebMap</h2>
                </div>
                <div class="presentationCardContent">
                    <p>Une envie de voir le monde sous un autre angle ? découvrer les maps de nos différent serveur ici !</p>
                </div>
                <div class="presentationCardFooter text-center">
                    <a class="presentationCardButton btn btn-info" href="http://51.91.36.176:30510/" role="button">Adelys</a>
                    <a class="presentationCardButton btn btn-info" href="http://217.182.46.83:30890/"role="button">Adelys-Event</a>
                </div>
            </div>
            <div class="presentationCard">
                <div class="presentationCardIcon"></div>
                <div class="presentationCardHeader">
                    <h2>Présentation des joueurs</h2>
                </div>
                <div class="presentationCardContent">
                    <p>Vous pourrez retrouvez ici les informations de chaque joueurs sur le serveur ainsi que leur domaines, commerce et activité</p>
                </div>
                <div class="presentationCardFooter text-center">
                    <button type="button" class="presentationCardButton btn btn-info">Voir plus</button>
                </div>
            </div>
        </section>
    </article>
    <article class="indexArticle infoArticle">
        <section class="infoSection">
            <div class="contenerInfoImage">
                <img src="/content/Images/TestImageVertical.png" class="d-block" id="imageGazette" alt="...">
            </div>
            <div class="contenerInfoDesc">
                <h2>La Gazette d'Adelys</h2>
                <p>La Gazette d'Adelys est un journal numérique trimestriel qui présente l'actualité du serveur. Vous pourrez y découvrir entre autre des interviews des joueurs, des présentations des quartiers, les nouveautés de Minecraft et plein d'autres choses ! Elle est écrite par Yonderred et sa rédaction se trouve à Ego Ville.</p>
                <a class="btn btn-info" role="button" asp-area="" asp-controller="Gazette" asp-action="">Lire en ligne</a>
            </div>
        </section>
    </article>
    <article class="indexArticle infoArticle" id="articleModdedServer">
        <section class="infoSection">
            <div class="contenerInfoDesc">
                <h2>Serveur Moddé Adelys-Event</h2>
                <p>Adelys-event est un serveur moddé spécialement créer pour offrir une aventure différente du minecraft classique.</p>
            </div>
            <div class="contenerInfoImage">
                <img src="/content/Images/TestImageVertical.png" class="d-block" id="imageGazette" alt="...">
            </div>
        </section>
    </article>
</div>



@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
