#playersArticle {
}

#parliamentPlayers {
    display: flex;
    width: 100%;
    border: 2px solid Orange;
}

.cardPlayer {
    margin: 1em;
    width: 250px;
    height: 400px;
}
.cardPlayerImgContener {
    margin:auto;
    width: 200px;
    height: 270px;
}
#otherPlayers {
    display: flex;
    width: 100%;
    border: 2px solid Gray;
}
