@{
    ViewData["Title"] = "Les joueurs";
    <link rel="stylesheet" href="~/css/playersPage.css" asp-append-version="true" />
}
<div class="">
    <article id="playersArticle">
        <section id="parliamentPlayers">
            <div class="card cardPlayer">
                <div class="card-body">
                    <h5 class="card-title">Norime</h5>
                    <div class="cardPlayerImgContener">
                        <img src="..." class="cardPlayerImg" alt="...">
                    </div>
                    <h5 class="card-title">Pristo</h5>
                    <button>Voir plus</button>
                </div>
            </div>
            <div class="card cardPlayer">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">Pristo</h5>
                    <button>Voir plus</button>
                </div>
            </div>
            <div class="card cardPlayer">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">Pristo</h5>
                    <button>Voir plus</button>
                </div>
            </div>
        </section>
        <section id="otherPlayers">
            <div class="card cardPlayer">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <img src="..." class="card-img-top" alt="...">
                    <h5 class="card-title">Pristo</h5>
                    <button>Voir plus</button>
                </div>
            </div>
        </section>
    </article>
</div>
