@using Adelys_WebSite.ViewModels;
@model PlayerViewModel
@{
    ViewData["Title"] = "Les joueurs";
    <link rel="stylesheet" href="~/css/playersPage.css" asp-append-version="true" />
}

@{
    Dictionary<LuckpermsPlayer, LuckpermsUserPermission> PlayerPermissionsDico = Model.PlayerPermissionsDico;
    Dictionary<LuckpermsPlayer, LuckpermsUserPermission> ParlementDico = Model.ParlementDico;
}

<div class="">
    <article id="playersArticle">
        <section id="parliamentPlayers">
            @foreach (var player in ParlementDico.Keys)
            {
                <div class="card cardPlayer">
                    <div class="card-body">
                        <h5 class="card-title">@player.Username</h5>
                        <div class="cardPlayerImgContener">
                            <img src="..." class="cardPlayerImg" alt="...">
                        </div>
                        <h5 class="card-title">Pristo</h5>
                        <button>Voir plus</button>
                    </div>
                </div>
            }
        </section>
        <section id="otherPlayers">
            @foreach (var player in PlayerPermissionsDico.Keys)
            {
                <div class="card cardPlayer">
                    <div class="card-body">
                            <h5 class="card-title">@player.Username</h5>
                        <div class="cardPlayerImgContener">
                            <img src="..." class="cardPlayerImg" alt="...">
                        </div>
                        <h5 class="card-title">Pristo</h5>
                        <button>Voir plus</button>
                    </div>
                </div>
            }
        </section>
    </article>
</div>
