<div>
    <p>Exploitation de mouton : Pilotewho 

        Exploitation de vache : Anubis / Lainali  

        Exploitation de PNJ : Yondered / Norime  

        Exploitation Abeille : Anubis  

        Cheptel temporaire de mouton : Lainali  

        Exploitation poissons : tout le monde (impossibilité de les faire reproduire)   
    </p>
</div>
