<div>
    <p>Loi n°1 : Pour accéder à la citoyenneté d'Adélys, il faut déposer une demande, qui sera examinée par le parlement.  

        Loi n°2 : L'assassinat, l'attaque, la destruction et le vol de bien sont interdit.  

        Loi n°3 : Pour chaque demandes (plainte, parcelle, construction, devenir membre du parlement...), il faut la déposer sur le discord. Elle seront examinées par le parlement. 


        Loi n°4 : Les sanctions possibles lors d'un jugement sont : - l'avertissement - la mort - dommage et intérêt - le bannissement  


        Loi n°5 : La monnaie utilisée est le Cuivre Brut, le Fer Brut et l'Or Brut (1 Or Brut = 9 Fer Brut / 1 Fer Brut = 9 Cuivre Brut)  
        Modifié le 04/12/2021: changement de monnaie 

        Loi n°6 : Il peut être demandé aux citoyens une participation exceptionnelle sous forme de main d'œuvre ou de matériaux lors de la mise en place de grands projets communs (ex: la banque, le parlement).  
        Modifié le 17/12/2020 : nouvelle formulation 

        Loi n° 7 : Pour des raison de performance, il est interdit de posséder un cheptel d'animaux trop nombreux (20 individus pour chaque espèces), hormis exceptions validées par le parlement.  

        Loi n° 8 : Il est interdit de construire de manière non esthétique, de défigurer le paysage, de créer des mines à ciel ouvert sans accord du parlement.  

        Loi n° 9 : L'abus de pouvoir est interdit  

        Loi n° 10 : - Les portails du nether sont limités à 1 par colonie - Le portail d'Adélys se trouve sous l'hôtel de ville - La construction d'un portail doit obligatoirement faire l'objet d'une demande  

        Loi n°11 : Pour le commerce, certain prix sont fixes : - 16 lingots de fer = 5 lingots d'or - 1 diamant = 3 lingots d'or - 1 lingot de netherite = 40 lingots d'or  

        Loi n°12 : L'exploration ne peux se faire que sous certaines conditions : - L'exploration en ligne droite dans une direction est prohibé (exploration anarchique) - L'exploration dois être mappée - L'exploration doit se faire à côté d'une zone explorée 

        Loi n°13 : En cas d'abandon du serveur par un membre du parlement, ce dernier sera destituer de sa place passé un délai de 6 mois et sans indications contraires de sa part. En cas de retour sur le serveur la personne sera à nouveau citoyen et non membre du parlement. 

        Loi n°13bis : En cas d'un départ du serveur, les commerces et monopoles sont "gelés" et chacun peut revendiquer le monopole passé les 6 mois. La ville reprend le commerce durant les 6 mois et engage un citoyen pour la reprise éventuelle du commerce.  

        Les stocks précédents le départ des propriétaires seront stockés à la banque ou à l'hôtel de ville en cas d'un éventuel retour.La ville repartira avec un stock neuf. L'argent de ces 6 mois reviens à la ville mais la personne partenaire touchera un pourcentage. 

        Loi n°14 : Tout citoyen ayant quitté le serveur peux y revenir à tout moment hors bannissement. Les lois 13 et 13bis seront à appliquer pour la répartition des biens selon la durée du départ. 

        Loi n°15 : Tout event organisé par un citoyen d'Adélys est fortement encouragé mais doit être approuvé par au minimum un membre du parlement.  

    </p>
</div>
