@{
    ViewData["Title"] = "Les lois";
    <link rel="stylesheet" href="~/css/rules.css" asp-append-version="true" />
}
<div class="">
    <article class="col-10" id="rulesContener">
        <div id="listRules">
        </div>
        <div id="displayRules">
        </div>
    </article>
</div>
